.voice-states {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 0px !important;
  margin-top: 16px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.voice-state {
  display: none !important;
  margin-bottom: 0px !important;
  margin-right: 6px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: fit-content;
  height: 150px !important;
  position: relative;
}

.avatar {
  height: 100% !important;
  width: auto !important;
  max-width: 150px;
  margin-right: 0px !important;
  float: none !important;
  border-radius: 0px !important;
  position: relative !important;
  object-fit: contain;
  border: 0px !important;
}

.speaking {
  border-color: rgba(0, 0, 0, 0) !important;
}

.user {
  display: none;
}